nav{
    display: flex;
}
.nav-center{
    display: flex;
}
.nav-center  h4{
    height: 20PX;
    width: 100PX;
   color : aqua;
  text-align: center;
  margin-left: 50px;
  padding-left: 10px;
}
.nav-links{
    display: flex;
    list-style: none;
    column-gap: 30px;
  margin-left: 500px;
}

.container
{
    height: 100px;
    width: 70%;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 180px;
    background-color: brown;box-shadow: 5px 2px 2px 1px rgb(0 0 0 / 50%);
}
#btn{
    margin-top: 100px;
    margin-left: 100px;
}